/* Responsive CSS for Duolingo-style website */

/* Mobile-first responsive design */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  touch-action: manipulation; /* Disable zooming on touch devices */
}

.login {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden; /* Prevent content from overflowing */
}

.navbar {
  background-color: #7bb31a;
  color: white;
  padding: 0.5rem 1rem;
  text-align: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

form {
  background-color: #f8f9fa;
  border-radius: 0.5rem;
  padding: 1rem;
  width: 90%;
  max-width: 400px;
  overflow: hidden; /* Prevent content from overflowing */
  align-items: center;
}

h1,
h2 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

label {
  display: block;
  margin-bottom: 0.5rem;
  font-weight: bold;
}

input[type="text"],
input[type="email"],
input[type="password"] {
  width: 80%;
  padding: 0.5rem;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  margin-bottom: 1rem;
  font-size: 16px; /* Adjust font size for mobile devices */
  -moz-appearance: none; /* Remove default styling on Firefox */
  -webkit-appearance: none; /* Remove default styling on WebKit/Blink */
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus {
  outline: none; /* Remove focus outline */
}

button {
  background-color: #7bb31a;
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
  cursor: pointer;
  font-weight: bold;
}

button:hover {
  background-color: #6aa015;
}

p {
  cursor: pointer;
  text-decoration: underline;
}

@media screen and (min-width: 600px) {
  /* Styles for tablets and larger screens */
  .login {
    height: 100%;
  }

  form {
    width: 80%;
    max-width: 500px;
  }
}

@media screen and (min-width: 1024px) {
  /* Styles for desktop screens */
  .login {
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    padding: 2rem;
  }

  .navbar {
    margin-bottom: 0;
  }

  form {
    width: 50%;
  }
}
