/* previousGames.module.css */

.container {
  margin: 2rem auto;
  padding: 2rem;
}

.navbar {
  background-color: #7bb31a;
  color: white;
  display: flex;
  justify-content: center;
  text-align: center;
  position: fixed;
  padding: 0.5rem 1rem;
  top: 0;
  left: 0;
  right: 0;
}

.newGameButton {
  background-color: #7bb31a;
  color: white;
  border: none;
  border-radius: 0.25rem;
  cursor: pointer;
  font-weight: bold;
  text-decoration: none;
}

.locationSelector {
  margin-top: 1rem;
}

.locationSelector label {
  font-weight: bold;
  margin-right: 0.5rem;
}

.locationSelector select {
  padding: 0.5rem;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  margin-top: 0.5rem;
  width: 100%;
}

.averageScoresContainer {
  margin-top: 2rem;
}

.averageScoresContainer h3 {
  margin-bottom: 1rem;
}

.gamesContainer {
  margin-top: 2rem;
}

.gameContainer {
  margin-bottom: 2rem;
}

.gameContainer h3 {
  margin: 0;
}

.gameContainer p {
  margin: 0.5rem 0;
}

.gameContainer .chart-container {
  height: 400px;
}

.logoutButton {
  background-color: #7bb31a;
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
  cursor: pointer;
  font-weight: bold;
}

a{
  color: white;
}