.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.averageScoresContainer {
  margin-top: 20px;
}

.gameContainer {
  margin-bottom: 40px;
}

.locationSelector {
  margin-top: 20px;
}

.logoutButton {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #f44336;
  color: white;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
}

.logoutButton a {
  color: white;
  text-decoration: none;
}

.logoutButton:hover {
  background-color: #d32f2f;
}

.gamesContainer {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  gap: 20px;
}

h1 {
  font-size: 24px;
}

h3 {
  margin-bottom: 10px;
}

p {
  margin: 5px 0;
}

table {
  margin-top: 20px;
  width: 100%;
  border-collapse: collapse;
}

th, td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

th {
  background-color: #f2f2f2;
}

tfoot td {
  font-weight: bold;
}

.chart-container {
  position: relative;
  height: 300px;
}
